---
const { text, center, secondary } = Astro.props
---
<h1 class={`${ center ? "text-center" : ""} ${ secondary ? "text-zinc-500" : "text-white"} font-extralight text-3xl md:text-4xl xl:text-6xl`}>{ text }</h1>
