---
import HomeMasthead from "../components/home/Masthead.astro"
import '@fontsource/ibm-plex-sans/200.css';
import '@fontsource/ibm-plex-sans/400.css';
import "../styles.css"
import ModernLife from "../components/home/ModernLife.astro"

import MoreWork from "../components/home/MoreWork.astro"
import Accelerator from "../components/home/Accelerator.astro"
import Footer from "../components/home/Footer.astro"
import HorizontalLine from "../components/home/HorizontalLine.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="robots" content="noindex,nofollow">
		<title>osenorth. An award winning full-service creative agency.</title>
		<meta name="title" content="osenorth. An award winning full-service creative agency." />
		<meta name="description" content="An award winning full-service creative agency, infinitely crazy about functional, emotional and polished digital interfaces and products." />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.osenorth.co/" />
		<meta property="og:title" content="osenorth. An award winning full-service creative agency." />
		<meta property="og:description" content="An award winning full-service creative agency, infinitely crazy about functional, emotional and polished digital interfaces and products." />
		<meta property="og:image" content="https://metatags.io/images/meta-tags.png" />
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://www.osenorth.co/" />
		<meta property="twitter:title" content="osenorth. An award winning full-service creative agency." />
		<meta property="twitter:description" content="An award winning full-service creative agency, infinitely crazy about functional, emotional and polished digital interfaces and products." />
		<meta property="twitter:image" content="https://metatags.io/images/meta-tags.png" />

	</head>
	<body class="bg-black">
		{ /* HOME MASTHEAD */ }
		<HomeMasthead />
		<ModernLife
			title="Modern life is officeless life"
			sub_title="We work from home or from a coffee shop near us"
			description="Modern life means working from anywhere, whether it's a cozy coffee shop or the comfort of your own home. We understand the value of flexibility and the importance of a work-life balance. We embrace the office-less lifestyle and empower our team to work in the environment that suits them best."
			video="https://blupp.b-cdn.net/osenorth/remote.mp4"
		/>

		{ /* OPEN POSITIONS */ }
		<HorizontalLine />
		<MoreWork />

		<HorizontalLine />

		{ /* WORK */ }
		<ModernLife
			title="Open Positions"
			sub_title="Come join us"
			description="Once upon a time, we were on the lookout for new talent to join our crew. But for now, we're content with our current team and don't have any open positions. Don't worry though, we'll keep you posted when things change. In the meantime, keep honing your skills and following your passion."
			video="https://blupp.b-cdn.net/osenorth/join-us.mp4"
		/>
		<HorizontalLine />

		{ /* ACCELERATOR */ }
		<Accelerator />
		<HorizontalLine />

		{ /* FOOTER */ }
		<Footer />
	</body>
</html>
