---
import Title from "./Title.astro"
---
<section class="p-10">
    <div class="grid grid-cols-2 gap-8">
        <div class="w-4/5">
            <Title
                title="Osenorth Accelerator"
                text="Unlimited Design subscription for a fixed monthly fee"
            />
        </div>
        <div class="flex justify-end">
            <div class="w-4/5">
                <p class="text-lg font-light text-gray-400">Startups need to move fast. We know, our ceo is one of your own. So get your design done that follows — conceptualize & iterate method — before another javascript library pops up, yes, that fast. No meetings, no worries, just quality work and results to get you ahead of the curve.</p>
            </div>
        </div>
    </div>
    <div class="mt-10">
        <p class="text-white">
            <a href="https://accelerator.osenorth.co/" target="_blank">Visit osenorth.accelerator</a>
        </p>
    </div>
    <div class="bg-purple-700 h-[50vh] my-10"></div>  <!-- Insert image here -->
</section>