<footer>
    <nav class="flex justify-between py-6">
        <h1 class="text-xl font-extrabold">osenorth.</h1>
        <ul class="flex gap-10">
            <li>Box1</li>
            <li>Box2</li>
            <li>Box3</li>
            <li>Box4</li>
        </ul>
    </nav>
</footer>