<div class="p-4 md:p-10 max-w-screen-2xl mx-auto">
    <nav class="flex justify-between py-6">
        <h1 class="text-xl font-extrabold text-white text-sm">osenorth.</h1>
        <ul class="flex gap-10">
            <li class="text-zinc-400 text-sm">Box1</li>
            <li class="text-zinc-400 text-sm">Box2</li>
            <li class="text-zinc-400 text-sm">Box3</li>
            <li class="text-zinc-400 text-sm">Box4</li>
        </ul>
    </nav>
</div>
<section class="w-2/3 md:w-1/2 mx-auto">
    <img
        src="/peek.svg"
        alt="peak osenorth"
    />
</section>