---
import Title from "./Title.astro"
import HorizontalLine from "./HorizontalLine.astro"
---
<footer class="p-4 md:p-10  max-w-screen-2xl mx-auto">
    <div class="flex justify-between mb-20 grid grid-cols-1 md:grid-cols-2 items-start">
        <div class="flex-col space-y-16">
            <div>
                <Title
                    title="Got a project?"
                    text="Let's talk"
                />
            </div>
            <p class="text-white">Tell us everything</p>
        </div>
        <div class="grid grid-cols-2 md:grid-cols-3 gap-10 mt-8 md:mt-0">
            <ul class="flex-cols space-y-3">
                <li class="text-zinc-400 text-sm cursor-not-allowed">About</li>
                <li class="text-zinc-400 text-sm cursor-not-allowed">Services</li>
                <li class="text-zinc-400 text-sm cursor-not-allowed">Clients</li>
                <li class="text-zinc-400 text-sm cursor-not-allowed">Contact</li>
            </ul>
            <ul class="flex-cols space-y-3">
                <li class="text-zinc-400 text-sm cursor-not-allowed">Playground</li>
                <li class="text-zinc-400 text-sm cursor-not-allowed">News</li>
                <li class="text-zinc-400 text-sm cursor-not-allowed">Voyages</li>
                <li class="text-zinc-400 text-sm cursor-not-allowed">Offices</li>
            </ul>
            <ul class="flex-cols space-y-3">
                <li class="text-zinc-400 text-sm cursor-not-allowed">accelerator.osenorth</li>
                <li class="text-zinc-400 text-sm cursor-not-allowed">code.osenorth</li>
                <li class="text-zinc-400 text-sm cursor-not-allowed">community.osenorth</li>
                <li class="text-zinc-400 text-sm cursor-not-allowed">store.osenorth</li>
                <li class="text-zinc-400 text-sm cursor-not-allowed">events.osenorth</li>
            </ul>
        </div>
    </div>
</footer>
<HorizontalLine />
<div class="p-4 md:p-10 max-w-screen-2xl mx-auto">
    <nav class="flex justify-between py-6">
        <h1 class="text-xl font-extrabold text-white text-sm">osenorth.</h1>
        <ul class="flex gap-10">
            <li class="text-zinc-400 text-sm">Box1</li>
            <li class="text-zinc-400 text-sm">Box2</li>
            <li class="text-zinc-400 text-sm">Box3</li>
            <li class="text-zinc-400 text-sm">Box4</li>
        </ul>
    </nav>
</div>
<section class="w-2/3 md:w-1/2 mx-auto">
    <img
        src="/peek.svg"
        alt="peak osenorth"
    />
</section>