<div class="p-4 md:p-10 max-w-screen-2xl mx-auto">
    <nav class="md:justify-between py-6 flex-cols md:flex items-center justify-center w-full">
        <div>
            <h3 class="text-xl font-extrabold text-white text-sm text-center">osenorth.</h3>
        </div>
        <ul class="flex gap-10 justify-center items-center mt-6 md:mt-0">
            <li class="h-4">
                <a href="https://x.com/osenorth" target="_blank" rel="noopener noreferrer">
                    <img
                        src="/x.svg"
                        class="h-full w-full"
                        alt="x's icon"
                    />
                </a>
            </li>
            <li class="h-4">
                <a href="https://www.dribbble.com/osenorth" target="_blank" rel="noopener noreferrer">
                    <img
                        src="/dribbble.svg"
                        class="h-full w-full"
                        alt="dribbble's icon"
                    />
                </a>
            </li>
            <li class="h-4">
                <a href="https://www.instagram.com/osenorth" target="_blank" rel="noopener noreferrer">
                    <img
                        src="/instagram.svg"
                        class="h-full w-full"
                        alt="instagram's icon"
                    />
                </a>
            </li>
            <li class="h-4">
                <a href="https://www.linkedin.com/company/osenorth" target="_blank" rel="noopener noreferrer">
                    <img
                        src="/linkedin.svg"
                        class="h-full w-full"
                        alt="linkedin's icon"
                    />
                </a>
            </li>
        </ul>
    </nav>
</div>
<section class=" max-w-screen-2xl mx-auto">
    <div class="w-2/3 md:w-1/2 mx-auto">
        <img
            src="/peek.svg"
            alt="peak osenorth"
        />
    </div>
</section>
