<section class="bg-zinc-600 h-screen">
    <video
        loop={ true }
        autoPlay={ true }
        muted={ true }
        playsInline={ true }
        preload="auto"
        class="h-full w-full object-cover"
    >
        <source src="https://blupp.b-cdn.net/osenorth/masthead.webm" type="video/webm"/>
    </video>
</section>