<section class="bg-zinc-600 h-screen relative">
    <video
        loop={ true }
        autoPlay={ true }
        muted={ true }
        playsInline={ true }
        preload="auto"
        class="h-full w-full object-cover"
    >
        <source src="https://blupp.b-cdn.net/osenorth/masthead.webm" type="video/webm"/>
    </video>
    <section class="absolute bottom-0 left-0 h-96 w-full">
        <div class="flex items-center justify-center h-full px-10 flex-col">
            <h1 class="font-extralight text-6xl text-center text-zinc-50">An award winning full-service creative agency, infinitely crazy about functional, emotional and polished digital interfaces and products.</h1>
            <div class="mt-10 text-zinc-50 font-bold">Contact Us</div>
        </div>
    </section>
</section>
