---
import H1 from "../common/atom/H1.astro"
import Paragraph from "../common/atom/Paragraph.astro"
---
<section class="bg-black py-4 text-center fixed bottom-0 w-full z-30 px-4 md:px-0">
    <p class="text-white text-sm">
        <span>This is a demo website by</span>
        <a href="https://blupp.co" target="_blank" rel="nofollow noindex">
            <span class="underline">Blupp Co</span>.
        </a>
        <span>You can check the codebase on</span>
        <a href="https://github.com/bluppco/osenorth" target="_blank" rel="nofollow noindex">
            <span class="underline">Github</span>.
        </a>
    </p>
</section>
<section class="bg-zinc-600 h-screen w-full fixed top-0 left-0 z-20">
    <video
        loop={ true }
        autoplay={ true }
        muted={ true }
        playsinline={ true }
        preload="auto"
        class="h-full w-full object-cover"
    >
        <source src="https://blupp.b-cdn.net/osenorth/masthead.mp4" type="video/mp4"/>
    </video>
    <div class="max-w-screen-2xl mx-auto relative">
        <section class="absolute bottom-0 left-0 h-96 w-full z-10">
            <div class="flex items-center justify-center h-full px-10 flex-col">
                <H1
                    text="An award winning full-service creative agency, infinitely crazy about functional, emotional and polished digital interfaces and products."
                    center={ true }
                />
                <div class="mt-10">
                    <a href="https://tripetto.app/run/A7GU2RWL25" target="_blank">
                        <div class="flex items-center gap-2">
                            <div class="w-4 h-4 -rotate-90">
                                <img
                                    src="play-icon.svg"
                                    class="w-full h-full"
                                    alt="external linkicon"
                                />
                            </div>
                            <Paragraph
                                text="Contact Us"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </div>
    <div class="bg-black/40 absolute top-0 left-0 w-full h-full z-0"/>
</section>
