<section class="bg-black py-4 text-center fixed bottom-0 w-full z-30 px-4 md:px-0">
    <p class="text-white text-sm">
        <span>This is a demo website by</span>
        <a href="https://blupp.co" target="_blank" rel="nofollow noindex">
            <span class="underline">Blupp Co</span>.
        </a>
        <span>You can check the codebase on</span>
        <a href="https://github.com/bluppco/osenorth" target="_blank" rel="nofollow noindex">
            <span class="underline">Github</span>.
        </a>
    </p>
</section>
<section class="bg-zinc-600 h-screen relative">
    <video
        loop={ true }
        autoplay={ true }
        muted={ true }
        playsinline={ true }
        preload="auto"
        class="h-full w-full object-cover"
    >
        <source src="https://blupp.b-cdn.net/osenorth/masthead.mp4" type="video/mp4"/>
    </video>
    <section class="fixed top-0 left-0 w-full z-20">
        <div class="flex p-4 md:p-10 justify-between items-center  max-w-screen-2xl mx-auto">
            <a href="/" class="py-2">
                <div class="w-24">
                    <svg viewBox="0 0 102 19" fill="none" xmlns="http://www.w3.org/2000/svg" class="header__logoSvg"><path d="M2.544 7.008c1.28-1.248 2.88-1.872 4.8-1.872 1.936 0 3.544.632 4.824 1.896 1.296 1.264 1.944 2.84 1.944 4.728 0 1.92-.632 3.488-1.896 4.704-1.28 1.232-2.904 1.848-4.872 1.848-1.952 0-3.568-.616-4.848-1.848C1.232 15.248.6 13.68.6 11.76c0-1.888.648-3.472 1.944-4.752Zm2.352 7.368c.64.672 1.456 1.008 2.448 1.008s1.816-.336 2.472-1.008c.656-.704.984-1.576.984-2.616 0-1.056-.328-1.936-.984-2.64-.656-.704-1.48-1.056-2.472-1.056-1.008 0-1.832.344-2.472 1.032-.64.688-.96 1.576-.96 2.664 0 1.04.328 1.912.984 2.616Zm11.935 3.168c-.704-.416-1.256-.936-1.656-1.56l1.944-1.728c.8.912 1.76 1.368 2.88 1.368 1.024 0 1.536-.376 1.536-1.128 0-.416-.312-.768-.936-1.056-.176-.096-.488-.224-.936-.384l-.528-.216-.552-.216c-1.984-.816-2.976-2.072-2.976-3.768 0-1.136.44-2.048 1.32-2.736.848-.656 1.928-.984 3.24-.984 1.088 0 2.024.248 2.808.744.624.384 1.12.88 1.488 1.488L22.279 9a6.2 6.2 0 0 0-.36-.384 2.798 2.798 0 0 0-.48-.408 2.686 2.686 0 0 0-1.416-.408c-.864 0-1.296.336-1.296 1.008 0 .432.312.792.936 1.08.224.096.536.216.936.36l.552.192.552.192c1.984.736 2.976 1.968 2.976 3.696 0 1.2-.464 2.168-1.392 2.904-.88.72-2.024 1.08-3.432 1.08-1.12 0-2.128-.256-3.024-.768ZM27.5 7.032c1.167-1.264 2.64-1.896 4.415-1.896 1.936 0 3.44.6 4.512 1.8 1.056 1.168 1.584 2.8 1.584 4.896 0 .368-.008.608-.024.72h-8.832c.016.832.336 1.52.96 2.064.592.544 1.36.816 2.304.816.752 0 1.432-.192 2.04-.576.24-.16.448-.328.624-.504.144-.144.272-.296.384-.456l2.184 1.656a3.798 3.798 0 0 1-.6.816c-.32.336-.672.632-1.056.888-1.04.704-2.248 1.056-3.624 1.056-1.968 0-3.568-.624-4.8-1.872-1.2-1.2-1.8-2.76-1.8-4.68 0-1.904.576-3.48 1.728-4.728Zm1.751 3.36h5.4c-.032-.784-.296-1.4-.792-1.848-.512-.464-1.144-.696-1.896-.696s-1.384.24-1.896.72c-.48.496-.752 1.104-.816 1.824Zm20.703-3.456c.56.944.84 2.216.84 3.816V18h-3.312v-7.632c0-.656-.208-1.208-.624-1.656-.4-.4-.888-.6-1.464-.6-.688 0-1.232.224-1.632.672-.4.416-.6.976-.6 1.68V18H39.85V5.448h3.24v1.464c.32-.496.744-.904 1.272-1.224a4.203 4.203 0 0 1 2.088-.552c1.616 0 2.784.6 3.504 1.8Zm4.573.072c1.28-1.248 2.88-1.872 4.8-1.872 1.936 0 3.544.632 4.824 1.896 1.296 1.264 1.944 2.84 1.944 4.728 0 1.92-.632 3.488-1.896 4.704-1.28 1.232-2.904 1.848-4.872 1.848-1.952 0-3.568-.616-4.848-1.848-1.264-1.216-1.896-2.784-1.896-4.704 0-1.888.648-3.472 1.944-4.752Zm2.352 7.368c.64.672 1.456 1.008 2.448 1.008s1.816-.336 2.472-1.008c.656-.704.984-1.576.984-2.616 0-1.056-.328-1.936-.984-2.64-.656-.704-1.48-1.056-2.472-1.056-1.008 0-1.832.344-2.472 1.032-.64.688-.96 1.576-.96 2.664 0 1.04.328 1.912.984 2.616Zm17.815-9.24v3.36c-2.256 0-3.384 1.344-3.384 4.032V18H68V5.448h3.24v1.824c.624-1.424 1.776-2.136 3.456-2.136Zm2.265.312v-2.64h3.264v2.64h2.352v2.688h-2.352v4.848c0 .912.152 1.52.456 1.824.256.288.72.432 1.392.432.288 0 .488-.008.6-.024v2.832c-.368.08-.84.12-1.416.12-2.88 0-4.32-1.696-4.32-5.088V8.136h-1.32V5.448h1.344Zm17.832 1.488c.544.928.816 2.2.816 3.816V18H92.32v-7.632c0-.656-.208-1.208-.624-1.656-.4-.4-.888-.6-1.464-.6-.704 0-1.256.224-1.656.672-.416.448-.624 1.008-.624 1.68V18H84.64V.648h3.312v6.264c.32-.512.736-.92 1.248-1.224a4.072 4.072 0 0 1 2.064-.552c1.632 0 2.808.6 3.528 1.8Zm3.516 10.776c-.4-.384-.6-.856-.6-1.416 0-.576.2-1.064.6-1.464.384-.4.864-.6 1.44-.6s1.064.2 1.464.6c.384.4.576.888.576 1.464 0 .56-.192 1.032-.576 1.416-.4.4-.888.6-1.464.6s-1.056-.2-1.44-.6Z" fill="#fff"></path></svg>
                </div>
            </a>
            <a href="https://tripetto.app/run/A7GU2RWL25" target="_blank">
                <button class="bg-pink-600 text-white text-sm md:text-base uppercase px-4 py-2 rounded hover:bg-black duration-500">Contact</button>
            </a>
        </div>
    </section>
    <div class="max-w-screen-2xl mx-auto relative">
        <section class="absolute bottom-0 left-0 h-96 w-full z-10">
            <div class="flex items-center justify-center h-full px-10 flex-col">
                <h1 class="font-extralight text-3xl xl:text-6xl text-center text-zinc-50">An award winning full-service creative agency, infinitely crazy about functional, emotional and polished digital interfaces and products.</h1>
                <div class="mt-10">
                    <a href="https://tripetto.app/run/A7GU2RWL25" target="_blank">
                        <div class="flex items-center gap-2">
                            <div class="w-4 h-4 -rotate-90">
                                <img
                                    src="play-icon.svg"
                                    class="w-full h-full"
                                    alt="external linkicon"
                                />
                            </div>
                            <p class="text-sm md:text-base text-zinc-50 font-bold">Contact Us</p>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </div>
    <div class="bg-black/40 absolute top-0 left-0 w-full h-full z-0"/>
</section>
