---
const {

    description,
    sub_title,
    video,
    title,

} = Astro.props
import H1 from "../common/atom/H1.astro"
import Paragraph from "../common/atom/Paragraph.astro"
---

<section class="grid grid-cols-1 md:grid-cols-5 justify-between gap-10 p-4 md:p-10 max-w-screen-2xl mx-auto">
    <div class="col-span-2 flex flex-col gap-4">
        <H1
            text={ title }
        />
        <H1
            text={ sub_title }
            secondary={ true }
        />
        <Paragraph
            text={ description }
            thin={ true }
            secondary={ true }
        />
    </div>
    <div class="col-span-3">
        <div class="bg-zinc-700 w-full h-[70vh]">
            <video
                loop={ true }
                autoplay={ true }
                muted={ true }
                playsinline={ true }
                preload="auto"
                class="h-full w-full object-cover"
            >
                <source src={video } type="video/mp4"/>
            </video>
        </div>
    </div>
</section>
