---
const {

    description,
    sub_title,
    video,
    title,

} = Astro.props
---

<div class="grid grid-cols-1 xl:grid-cols-5 justify-between gap-10 p-4 md:p-10">
    <div class="col-span-2">
        <p class="text-3xl md:text-4xl font-thin text-white">{ title }</p>
        <div class="mt-2">
            <p class="text-3xl md:text-4xl font-thin opacity-60 text-white">{ sub_title }</p>
        </div>
        <div class="mt-8">
            <p class="font-thin opacity-60 text-base md:text-lg text-white">{ description }</p>
        </div>
    </div>
    <div class="col-span-3">
        <div class="bg-purple-700 w-full h-[70vh]">
            <video
                loop={ true }
                autoplay={ true }
                muted={ true }
                playsinline={ true }
                preload="auto"
                class="h-full w-full object-cover"
            >
                <source src={video } type="video/mp4"/>
            </video>
        </div>
    </div>
</div>
