---
const {

    description,
    image,
    sub_title,
    title,

} = Astro.props
---

<div class="grid grid-cols-5 justify-between gap-10 p-10">
    <div class="col-span-2">
        <p class="text-4xl font-extralight text-white">{ title }</p>
        <p class="text-4xl font-thin opacity-60 text-white">{ sub_title }</p>
        <div class="pt-8 font-extralight w-5/6 text-lg text-white">{ description }</div>
    </div>
    <div class="col-span-3">
        <div class="bg-purple-700 w-full h-[90vh]"></div>
    </div>
</div>
