---
const{
    
    image,
    title,
    category,

} = Astro.props
---

<div>
    <div class="bg-blue-600 h-80"></div> <!-- insert image here -->
    <p class="text-lg font-bold">{ title }</p>
    <div class="flex gap-2">
        {
            category?.map((category)=>{
                return (
                    <span class="text-sm text-gray-400">{ category }</span>
                )
            })
        }
    
    </div>
</div>
