---
import MoreWorkItem from "./MoreWorkItem.astro"
import { WORK } from "../../constants"
import H1 from "../common/atom/H1.astro"
---
<section class="p-4 md:p-10  max-w-screen-2xl mx-auto">
    <H1
        text="More work"
    />
    <H1
        text="Because we're awesome!"
        secondary={ true }
    />
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 mt-10">
        {

            WORK.map( ( work ) => {

                return (
                    <MoreWorkItem
                        image={ work.image }
                        title={ work.title }
                        category={ work.categories }
                    />
                )

            })

        }
    </div>
</section>
