---
const{

    image,
    title,
    category,

} = Astro.props
import H4 from "../common/atom/H4.astro"
import Paragraph from "../common/atom/Paragraph.astro"
---

<div>
    <div class="bg-zinc-200 h-80">
        <img
            src={ image }
            class="object-cover w-full h-full"
            alt={ title + "'s image" }
        />
    </div>
    <div class="mt-4">
        <H4
            text={ title }
        />
    </div>
    <div class="flex gap-2 mt-2">
        {

            category?.map( (category) => {

                return (
                    <Paragraph
                        text={ category }
                        small={ true }
                    />
                )

            })

        }
    </div>
</div>
