---
const{

    image,
    title,
    category,

} = Astro.props
---

<div>
    <div class="bg-zinc-200 h-80">
        <img
            src={ image }
            class="object-cover w-full h-full"
            alt={ title + "'s image" }
        />
    </div>
    <div class="mt-4">
        <p class="text-lg font-bold text-white">{ title }</p>
    </div>
    <div class="flex gap-2 mt-2">
        {

            category?.map( (category) => {

                return (
                    <span class="text-sm text-gray-400">{ category }</span>
                )

            })

        }
    </div>
</div>
