---
const {

    category,
    image,
    link,
    title,
    video_flag,
    video,

} = Astro.props
import H2 from "../common/atom/H2.astro"
import Paragraph from "../common/atom/Paragraph.astro"
---
<a href={ link } target="_blank" rel="nofollow noreferrer">
    <div>
        <div class="bg-zinc-700 h-[50vh] lg:h-[70vh]">
            {

                video_flag &&
                <video
                    loop={ true }
                    autoplay={ true }
                    muted={ true }
                    playsinline={ true }
                    preload="auto"
                    class="h-full w-full object-cover"
                >
                    <source src={ video } type="video/mp4"/>
                </video>

            }
            {

                !video_flag &&
                <img
                    src={ image }
                    class="object-cover w-full h-full"
                    alt={ title + "'s image" }
                />

            }
        </div>
        <div class="mt-4 text-center">
            <H2
                text={ title }
            />
        </div>
        <div class="flex gap-4 mt-2 justify-center items-center">
            {

                category?.map( (category) => {

                    return (
                        <Paragraph
                            text={ category }
                            small={ true }
                        />
                    )

                })

            }
        </div>
    </div>
</a>
